{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="p-4 border border-dark rounded shadow-sm" style="background-color: #f8d9e1; margin-top: -67px;">
                <h1 class="fw-bold text-center" style="font-family: 'Georgia', serif;">Astro Flowers</h1>
                <h3 class="text-center" style="color: #a4c700;">цветочный салон</h3>
                <p class="mt-3 text-center lead" style="font-size: 15px;">
                    Самые свежие цветы со всего мира, для самых дорогих сердцу людей. <br>
                    Круглосуточная доставка букетов по Нижнему Новгороду!
                </p>
            </div>

            <div class="mt-3">
                <h2 class="text-center" style="color: #a4c700;">О нас</h2>
                <p class="lead">
                    Свежие цветы со всего мира, собранные с любовью, чтобы радовать самых дорогих сердцу людей.
                    Мы тщательно отбираем каждую композицию, сочетая природную красоту, стиль и элегантность.
                    Наши букеты передают искренние чувства, наполняя каждый момент теплотой и заботой.
                </p>
                <p class="lead">
                    Независимо от повода — будь то праздник, признание в любви или просто желание подарить улыбку —
                    у нас вы найдете идеальный букет, который оставит незабываемое впечатление.
                </p>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: -40px; margin-bottom: 20px;">
            <img src="/static/home.jpg" alt="Букет" class="img-fluid rounded shadow-sm">
        </div>
    </div>
</div>
{% endblock %}



